
@model  Tennis.UI.ViewModel.DashboardViewModel
            <html>
<head>
<title>Create</title>
</head>
<body>

    @using (Html.BeginForm())
    {
        
        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <td>
                        @Html.HiddenFor(model=>model.CreateMemberModel.Id)
                    </td>
                    <td>
                        @Html.Label("Forename")
                    </td>
                    <td>

                        @Html.EditorFor(model => model.CreateMemberModel.Forename)
                    </td>

                </tr>


            </table>
            <input type="submit" value="Create" />
        </div>

    }
</body>
</html>


